<div class="bgDiv">
  <div class="rightBtn">
    <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48" fill="white"><path  d="m304 974-56-57 343-343-343-343 56-57 400 400-400 400Z"/></svg>
  </div>
  <div class="leftBtn">
    <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48" fill="white"><path d="M400 976 0 576l400-400 56 57-343 343 343 343-56 57Z"/></svg>
  </div>

  <div class="listPages">
    <app-page1></app-page1>
  </div>
</div>