@font-face {
    font-family: "Open Sans Extra-Bold";
    src: url(/assets/fonts/OpenSans-ExtraBold.ttf);
}
@font-face {
    font-family: "Open Sans Bold";
    src: url(/assets/fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: "Open Sans Semi-Bold";
    src: url(/assets/fonts/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: "Open Sans Medium";
    src: url(/assets/fonts/OpenSans-Medium.ttf);
}

.page1{
    width: 930px;
    height: 100vh;
    background: url(/assets/images/page1/bg.png);
    background-size: contain;
    overflow: hidden;
    .logo{
        position: absolute;
        top: 75px;
        left: 50px;
    }
    .texts{
        position: absolute;
        left: 50px;
        top: 440px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .usernameBlock{
            width: 400px;
            .title{
                font-family: 'Open Sans Extra-Bold';
                font-size: 18px;
                color: #191d25;
            }
            .title2{
                font-family: 'Open Sans Extra-Bold';
                font-size: 18px;
                color: #feffff;
            }
        }
        .titleBlock{
            padding-top: 15px;
            width: 400px;
            .title{
                font-family: 'Open Sans Extra-Bold';
                font-size: 46px;
                color: #feffff;
                line-height: 56px;
            }
            .title2{
                font-family: 'Open Sans Extra-Bold';
                font-size: 46px;
                color: #111111;
                line-height: 56px;
            }
        }
        .bodyTextBlock{
            padding-top: 15px;
            width: 240px;
            .title{
                font-family: 'Open Sans Medium';
                font-size: 15px;
                color: #111012;
            }
            .title2{
                font-family: 'Open Sans Extra-Bold';
                font-size: 15px;
                color: #111012;
            }
        } 
    }
    .buttonBlock{
        background-color: #140f10;
        padding: 9px 40px;
        width: fit-content;
        border-radius: 10px;
        bottom: 55px;
        left: 30px;
        position: absolute;
        cursor: pointer;
        .title{
            font-family: 'Open Sans Semi-Bold';
            font-size: 16px;
            color: #feffff;
        }
        .title2{
            font-family: 'Open Sans Extra-Bold';
            font-size: 16px;
            color: #704ec9;
        }
    }
    
}

