<div class="page1" >
    <app-logo-page1></app-logo-page1>
    <div class="texture1"></div>
    <app-text-page1></app-text-page1>
    <a href="https://www.targetgroup.com" target="_blank" class="buttonBlock" (mouseenter)="enterBtn()"  (mouseleave)="leaveBtn()" [@openCloseBtn]="createCheck ? 'open' : 'closed'" [@openCloseBtn2]="createCheck2 ? 'open' : 'closed'">      
        <span class="title">Get In Touch!</span>
        <span class="title2"> targetgroup</span>
        <span class="title">.com</span>
    </a>
    <div class="arrow" [@openCloseArrow]="createCheck2 ? 'open' : 'closed'">
        <img src="assets/images/page1/arrow.png" alt="" height="150">
    </div>
    <app-shape2-page1></app-shape2-page1>
    <div class="Shape2" [@openCloseShape1]="createCheck2 ? 'open' : 'closed'">
        <img src="assets/images/page1/Shape2.png" alt="" height="45">
    </div>
    <div class="Shape3" [@openCloseShape1]="createCheck2 ? 'open' : 'closed'">
        <img src="assets/images/page1/Shape3.png" alt="" height="25">
    </div>
    <div [@changePage]="incheck" class="bg"></div>
</div>
