<div class="page1">
    <img src="assets/images/page1/Shape.png" class="logo"/>
    <div class="texture1"></div>
    <div class="texts">
        <div class="usernameBlock">
            <span class="title">Digital</span>
            <span class="title2"> Professionals</span>
        </div>
        <div class="titleBlock">
            <span class="title">Marketing solutions</span>
            <span class="title2"> for your business</span>
        </div>
        <div class="bodyTextBlock">
            <span class="title">Lorem ipsum dolor sit amet, </span>
            <span class="title2"> consectetur adipiscing elit</span>
            <span class="title">, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
        </div>
        
    </div>
    <div class="buttonBlock">
            
        <span class="title">Get In Touch!</span>
        <span class="title2"> targetgroup</span>
        <span class="title">.com</span>
    </div>
</div>
