<div class="texts" [@openClose]="createCheck ? 'open' : 'closed'" >
    <div class="usernameBlock">
        <span class="title">Digital</span>
        <span class="title2"> Professionals</span>
    </div>
    <div class="titleBlock" >
        <span class="title">Marketing solutions</span>
        <span class="title2"> for your business</span>
    </div>
    <div class="bodyTextBlock">
        <span class="title">Lorem ipsum dolor sit amet, </span>
        <span class="title2"> consectetur adipiscing elit</span>
        <span class="title">, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
    </div>
    
</div>